.bg-light {
    background-color: white !important;
    border-bottom: 1px solid #7C8884;
}
#navboi {
    background-color: #1976d2 !important;
    height: 74px;

}
.navbar-light .navbar-brand {
    color: white;
    font-size: 2em !important;
}

//CHANGE BOOTSTRAP BUTTON COLORS

.btn-outline-dark:hover {
    background-color: #1976d2;
}
.btn-outline-dark {
    border-color: #1976d2;
    color: white;
}
btn-outline-dark.focus, .btn-outline-dark:focus {
    box-shadow: 0 0 0 0.2rem rgba(25,118,210, .5);
}

.btn-outline-dark:not(:disabled):not(.disabled).active, .btn-outline-dark:not(:disabled):not(.disabled):active, .show>.btn-outline-dark.dropdown-toggle {
    background-color: #1976d2;
    border-color: #1976d2;
}

//***** SIDEBAR *******

#sidebar-container {
    float: right;
    margin-right: 0;
    @media only screen and (max-width: 750px) {
        visibility: hidden;
      }
}
#bioButton {
    height: 100px;
}
#resumeButton {
    height: 100px;

}
#contactButton {
    height: 100px;
}

#sidebar {
    position: fixed;
    z-index: 1000000;
    background-color: rgba(25,118,210, .5);
    margin-right: 0;
    height: 400px;
    padding: 10px;
    padding-right: 30px;
    border-radius: 0 10px 10px 0;

    
}


