.bg-light {
    background-color: white !important;
    border-bottom: 1px solid #7C8884;
}
#navboi {
    //background-color: #CEE0DC !important;
    background-color: #F4F5F6 !important;

}


#aboveNavbar {
    height: 400px;
}


#outer-container {
    //border: 1px solid #7C8884;
    //background-color:#CEE0DC;

}

#sidebar-container {
    float: right;
    margin-right: 99px;
    @media only screen and (max-width: 750px) {
        visibility: hidden;
      }
}

#sidebar {
    //float: right !important;
    position: fixed;
    z-index: 1000000;
    background-color: transparent;
    //border-radius: 0 20px 20px 0;
    //border: 1px solid #7C8884;
    //border-left: 0px;

}


