.email-form {
    padding: 20px;
    padding-bottom: 40px;
    //margin: 20px;
    height: 100%;
    //width: 100%;
    background-color: #F4F5F6;
    border-radius: 20px;
    
}

.btn {
    margin: 10px;
}
textarea {
    height: 60%;
}