
.slide {
    transform: rotate(360deg);
    left: 500px;
    transition: all 0.5s ease-in-out;
}

.font-change {
    font-size: 3em !important;
}

.slideIn {
    transform: translateX(-100vw);
}
.slideInFromLeft {
    transform: translateX(100vw);
}

#firstUl {
    position: relative;
    left: 100vw !important;
    transition-delay: .6s !important;
    transition: transform 1.5s ease-in-out;
}

#secondUl {
    position: relative;
    left: 100vw !important;
    transition-delay: 1.2s !important;
    transition: transform 1.5s ease-in-out;
}

#download-message {
    transition: font-size .6s ease-in-out;
    color: rgba(25,118,210, 1); 
}


.downloaded {
    transition: transform .6s ease-in-out;
    transform: translate(-70vw, 100vh) rotate(360deg);
}


.rotate {
    transition: all 0.5s ease-in-out;
  }
.rotate:hover {
    transition: all 1s ease-in-out;
  }


.first-container {
    padding-right: 0px;
    padding-left: 0px;
    height: 100%;

}
p {
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
}

ul {
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1vw;
    @media only screen and (max-width: 750px) {
        font-size: 2vw !important;
      }
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: rgba(25,118,210, 1);
    padding: 20px 20px 20px 40px;

}

#bio {
    
    vertical-align: middle;
    width: 100%;
    padding: 20px 20px 20px 20px;
    transition: transform 1.5s ease-in-out;
    left: 100vw !important;
    position: relative;
    font-size: 1.7vw;
    @media only screen and (max-width: 750px) {
        font-size: 3vw !important;
      }
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: rgba(25,118,210, 1)!important;

}
app-email {
    height: 100%;
    background-color: white;
    border-radius: 20px;
}

#bio-row {
    height: 100vh;
    background-color: white;

}
#bio-pic {
    height: 100vh;
    background-color: white;
    overflow: auto;
}
#contact-row {
    height: 100vh;
    background-color: white;
}
#download-row {
    height: 100vh;
    background-color: white;

}
#resumeButton {
    align-content: center;
}

#buttonHolder {
    width: 50%;
}

.navbar .sticky-top .navbar-light .bg-light .ng-tns-c20-{
    color: white;
    font-size: 2em;
}

.navbar-light .navbar-brand {
    color: white;
    font-size: 2em;
}

#bio-nav {
    color: white;
    font-size: 2em !important;
    background-color: rgba(25,118,210, 1) !important;
}  
#resume-nav {
    background-color: rgba(25,118,210, 1) !important;
}
#contact-nav {
    background-color: rgba(25,118,210, 1) !important;
}

#section2 {
    display:inline-block;
    width: 100%;
    height: 100%;
}



//the img
#headshot {
    max-width: 100%;
    height: auto;
    position: relative;
    right: 100vw !important;
    transition-delay: 1.8s !important;
    transition: transform 1.5s ease-in-out;
}