

<div class="first-container container-fluid" (onload)="slideElementsOnPage()">
    <div id="bio-pic" class="row no-gutters align-items-center">
        <div id="bio-pic-img" class="col-12 col-md-5 text-center">
            <img id="headshot" class="img-fluid" [ngClass]= "{'slideInFromLeft' : slideIn }" alt="Responsive image" src="../../assets/headshot (2).jpg">
        </div>
        <div class="col-1">
        </div>
        <div class="col-10 col-md-5">
                <p id="bio" [ngClass]="{'slideIn' : slideIn }"(mouseenter)="slideOut()" >
                    My name is Pierce Bringhurst. I’m a junior double-majoring in Computer Science and French at the University of Utah.
                    I expect to graduate in December of 2021. I built this website using HTML, CSS, Bootstrap,
                    and Angular, and hosted it using Amazon Web Services. Here are some other skills I have:
                </p>
            <ul id="firstUl" [ngClass]="{'slideIn' : slideIn }" >
                <li>
                    Languages: C#, Java, C++, Python, Javascript, SQL
                </li>
                <li>
                    Webwork: JQuery, AJAX, ASP.NET Core, Entity Framework, Selenium, LINQ
                </li>
            </ul>
            <ul id="secondUl" [ngClass]= "{'slideIn' : slideIn }">
                <li>Relevant Coursework: Web Software Architecture,
                    Software Practice II, 
                    Software Practice I,
                    Computer Organization,
                    Discrete Math,
                    Data Structures and Algorithms,
                    Algorithms,
                    Database Systems,
                    Computer Networking
                    </li>
            </ul>
        </div>
        <div class="col-1">

        </div>
    </div>
    <nav class="navbar sticky-top navbar-light bg-light" id="resume-nav">
        <span class="navbar-brand mb-0 h1">Resume</span>
    </nav>
        <div class="row no-gutters" id="download-row">
            <div class="col-3"></div>
            <div class="col-6 align-self-center text-center">
                <p id="download-message" [ngClass]= "{'font-change' : downloaded}">{{downloadResume}}</p>
                <i #icon class="far fa-file fa-10x" [ngClass]="{'downloaded' : downloaded}"(click)="downloadPdf()" (mouseover)="hoverResume()" id="resumeButton"></i>
            </div>
            <div class="col-3"></div>
        </div>
        <nav class="navbar sticky-top navbar-light bg-light" id="contact-nav">
            <span class="navbar-brand mb-0 h1">Contact Me</span>
        </nav>
        <div class="row no-gutters align-items-center" id="contact-row">
            <div class="col-2">
            </div>
            <div class="col-8">
                <app-email></app-email>
            </div>
            <div class="col-2">
            </div>
        </div>
</div>

