/* You can add global styles to this file, and also import other style files */
.bg-light {
    background-color: white !important;
    border-bottom: 1px solid #7C8884;
}

body {
    background-color:#CEE0DC;
}

h1 {
    color: #7C8884;
    font-family: 'IBM Plex Sans', sans-serif;
}
h3 {
    color: #7C8884;
    font-family: 'IBM Plex Sans', sans-serif;
}
.btn {
    margin: 10px;
}
