/* You can add global styles to this file, and also import other style files */

h1 {
    color: #343A40;
    font-family: 'IBM Plex Sans', sans-serif;
}
h3 {
    color: #343A40;
    font-family: 'IBM Plex Sans', sans-serif;
}
.btn {
    margin: 10px;
}
